<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static "news/bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"/>

<body>
<header>
    {% include 'inc/navbar.html' %}
</header>

<main>
    <div class="container">
        {% block main %}{% endblock %}
    </div>
</main>

<footer>
    {% include 'inc/footer.html' %}
</footer>

<script src="{% static "news/bootstrap/js/bootstrap.min.js" %}"></script>
</body>
</html>
