{% load user_tags %}

{% is_liked news_post_id as is_liked_bool %}
{% count_likes news_post_id as likes_counter %}

{% if is_liked_bool %}
    {% news_likes_id news_post_id as news_likes_id %}
{% endif %}
<form action="{% if not is_liked_bool %}{% url "add-likes" %}{% else %}{% url "remove-likes" %}{% endif %}"
      method="post">
    {% csrf_token %}
    <input type="hidden" name="news_id" value="{{ news_post_id }}">
    <input type="hidden" name="user_id" value="{{ user.id }}">
    <input type="hidden" name="url_form" value="{{ request.path }}">

    {% if is_liked_bool %}
        <input type="hidden" name="news_likes_id" value="{{ news_likes_id }}">
    {% endif %}

    <button type="submit">
        {% if not is_liked_bool %}
            <i class="fi-xnluxl-heart">&#9825</i>
        {% else %}
            <i class="fi-xnluxl-heart-solid">&#9829</i>
        {% endif %}
        <span class="">{{ likes_counter }}</span>
    </button>
</form>